IceStorm.TopicManager.Endpoints=tcp -p 9999
IceStorm.Publish.Endpoints=tcp
IceStorm.Trace.TopicManager=3
IceStorm.Trace.Subscriber=3
IceStorm.Trace.Topic=3
Freeze.DbEnv.IceStorm.DbHome=db
